table {
  margin-top: 4rem;
    margin-left: 15rem;
    table-layout: auto;
    margin-left: 15rem;
    min-width: 80%;
  }
/* Style the tooltip */
td.mat-cell:hover::after {
  content: attr(title);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;

}

/* Show the tooltip on hover */
td.mat-cell:hover::after {
  opacity: 1;
}




