<div class="dialog-content">
    <div class="header">
      <img src="https://cdn.jornaldenegocios.pt/images/2018-03/img_900x560$2018_03_23_10_18_00_328537.jpg" alt="Banco XYZ Logo" class="dialog-logo">
      <h2>Contatos</h2>
    </div>
    <div class="contact-info">
      <p>Endereço: Rua Arlindo Pereira Lopes, 123</p>
      <p>Telefone 1: 255125487</p>
      <p>Telefone 2: 254845789</p>
      <p>Email: contato@santander.com</p>
      <p>Horário de Atendimento:</p>
      <ul>
        <li>Segunda a Sexta: 9:00 - 15:00</li>
        <li>Sábado e Domingo: Fechado</li>
      </ul>
    </div>
  </div>
  