<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="center-container">
  <div class="box-with-text">
    <!-- First Name -->
    <h1 class="text-on-box">Olá, {{profile.firstName}}!</h1>
    <mat-card class="info-card">
      <!-- Iban -->
      <mat-card-content>
        <div class="info-field iban">
          <span>{{profile.iban}}</span>
        </div>
        <!-- Balance -->
        <div class="info-row">
          <div class="info-field">
            <strong>{{profile.balance}}</strong>
            <div class="info-row middle">
              <span>Saldo disponível</span>
            </div>
          </div>
          <!-- Balance -->
          <div class="info-field">
            <strong>{{profile.balance}}</strong>
            <div class="info-row middle">
              <span>Saldo contabilístico</span>
            </div>
          </div>
          <!-- Balance -->
          <div class="info-field">
            <strong>{{profile.balance}}</strong>
            <div class="info-row middle">
              <span>Saldo autorizado</span>
            </div>
          </div>
        </div>
        <!-- Moviments Button -->
        <div class="info-field last">
          <span class="moviments" (click)="moviments()">Ver Movimentos</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>