  .center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 70%; /* Make the container fill the entire viewport height */
  }
  
  .info-card {
    width: 40rem; /* Adjust the card width as needed */
    height: 25rem;

}
  

  .text-on-box{
    margin-left: 1rem;
    font-weight: bold;
  } 

  .info-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px; /* Add spacing between rows */
    margin-top: 2rem;
  }
  
  .info-field {
    margin-top: 2rem;
    text-align: left; /* Center the text within each field */
  }
  .iban{
    color:	#137e9e;
    font-size: large;
    margin-left: 2.8rem;

  }
  /* Customize additional styles as needed */
  
  .middle{
    margin-top: 1rem;
  }

  .moviments{
    font-size: large;
    font-weight: bold;
    color: #137e9e;
  }

  .last{
    margin-top: 4rem;
    margin-left: 2.8rem;
  }