<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="center-container">
<mat-card class="info-card">
    <mat-card-content>
      <div class="info-row">
        <div class="info-field">
          <strong>Field 1:</strong>
          <span>Value 1</span>
        </div>
        <div class="info-field">
          <strong>Field 2:</strong>
          <span>Value 2</span>
        </div>
        <div class="info-field">
          <strong>Field 3:</strong>
          <span>Value 3</span>
        </div>
      </div>
      <div class="info-row">
        <div class="info-field">
          <strong>Field 4:</strong>
          <span>Value 4</span>
        </div>
        <div class="info-field">
          <strong>Field 5:</strong>
          <span>Value 5</span>
        </div>
        <div class="info-field">
          <strong>Field 6:</strong>
          <span>Value 6</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

  
<app-footer></app-footer>