<div class="legal-dialog-content">
    <h2>Condições Gerais de Utilização do Serviço Banca Digital</h2>
  
    <div class="clause">
      <p>Cláusulas</p>
      <p>
        Nestas Condições, na utilização do Serviço Banca Digital e em todas as comunicações entre o Banco e o Cliente no âmbito do mesmo ou com este relacionado, os termos abaixo indicados, quando iniciados por letra maiúscula (estejam no singular ou no plural), terão o significado a seguir indicado:
      </p>
      <p>
        a) Autenticação: o procedimento que permite ao Banco verificar a identidade do Cliente, incluindo através da utilização dos Códigos de Acesso e, caso aplicável, de um Código de Confirmação;
      </p>
      <p>
        b) Banco: o Banco Santander Totta, S.A., com sede social na Rua Áurea, n.º 88, 1100-063 Lisboa, registado na Conservatória do Registo Comercial de Lisboa sob o número único de registo e de identificação fiscal 500 844 321, com o capital social de 1.391.779.674 €, registado junto do Banco de Portugal com o n.º 18, da Comissão do Mercado de Valores Mobiliários com o n.º 130 e da Autoridade de Supervisão de Seguros e Fundos de Pensões com o n.º 419 501 250;
      </p>
      <p>
        c) Cliente: a pessoa singular titular de uma ou mais Contas de Depósitos à Ordem aberta(s) junto do Banco, e que adere ao Serviço Banca Digital com o Banco;
      </p>
      <p>
        d) Condições Gerais ou Condições: as presentes condições que se aplicam ao Serviço Banca Digital e que se encontram reguladas através do presente documento;
      </p>
      <p>
        e) Terceiros: pessoas cujo contacto consta da lista telefónica do dispositivo móvel do Cliente e que podem ou não ser Utilizadores MB WAY;
      </p>
      <p>
        f) O acesso a algumas Operações e serviços pode estar sujeito à aceitação prévia de condições específicas pelo Cliente.
      </p>
      <p>
        g) As transações realizadas através do Serviço MB WAY encontram-se sujeitas aos limites que se encontram definidos pela SIBS, não podendo ser executadas transações acima desses limites, os quais podem ser alterados a qualquer momento pela SIBS ou pelo Banco.
      </p>
    </div>
  </div>
  