<mat-toolbar color="white" class="custom-header">
  <!-- Sanatander Logo -->
  <div class="logo-container">
    <a href="dashboard"><img src="../../../../assets/img/header/santander.png" alt="Logo" class="logo" height="22"></a>
  </div>

  <!-- Right side Buttons -->
  <div *ngIf="authStatus.getStatus() == true" class="button-container">
    <button mat-icon-button onclick="alert('123')">
      <img src="../../../../assets/img/header/profile.png" alt="">
      <span class="text">Área Pessoal</span>
    </button>
    <div class="button-spacing"></div>
    <button (click)="logout()" mat-icon-button>
      <img src="../../../../assets/img/header/logout.png" alt="">
      <span class="text">Sair</span>
    </button>
  </div>
</mat-toolbar>
