<mat-toolbar color="white" class="custom-header">
  <!-- Logo on the left -->
  <div class="logo-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Banco_Santander_Logotipo.svg/1280px-Banco_Santander_Logotipo.svg.png" alt="Logo" class="logo" height="22">
  </div>

  <!-- Buttons on the right with increased spacing -->
  <div class="button-container">
    <button mat-icon-button onclick="alert('123')">
      <img src="https://www.citypng.com/public/uploads/small/11639594337wbxvgbyuzdm9bgbuyrdtztulrs37rnnxig3hapvpw10pbdyuz8tiq8jgyp7e4iif0ecrfsuqqlrngy3dvgrstfuasisyxnd35lzt.png" alt="">
      <span class="text">Área Pessoal</span>
    </button>
    <div class="button-spacing"></div>
    <button mat-icon-button>
      <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/46-512.png" alt="">
      <span class="text">Sair</span>
    </button>
  </div>
</mat-toolbar>
