<!-- Sidenav -->
<div class="sidenav">
  <!-- Account Button -->
    <button (click)="dashboard()" mat-button>
      <img src="../../../../assets/img/sidenav/account.png" height="20" alt="Image 1" class="button-icon">
      Conta
    </button>
    <!-- Transfers Button -->
    <button (click)="transfers()" mat-button>
      <img src="../../../../assets/img/sidenav/transfers.png" height="20" alt="Image 2" class="button-icon">
      Transferências
    </button>
    <!-- Deposits Button -->
    <button (click)="deposits()" mat-button>
      <img src="../../../../assets/img/sidenav/deposits.png" height="20" alt="Image 1" class="button-icon">
      Depósitos
    </button>
    <!-- Payments Button -->
    <button (click)="payment()" mat-button>
        <img src="../../../../assets/img/sidenav/payments.png" height="20" alt="Image 1" class="button-icon">
        Pagamentos
      </button>
      <button (click)="phonePayment()" mat-button>
        <img src="../../../../assets/img/sidenav/phone.png" height="20" alt="Image 1" class="button-icon">
        Carregamentos
      </button>
      <!-- Withdraw Button -->
      <button (click)="withdraw()" mat-button>
        <img src="../../../../assets/img/sidenav/withdraw.png" height="20" alt="Image 1" class="button-icon">
        Levantamentos
      </button>
  </div>
  